VITE_SUPABASE_URL=https://ndcjjksaiecsuzperrhp.supabase.co
VITE_SUPABASE_ANON_KEY=tu_anon_key_de_supabase
VITE_N8N_UPLOAD_WEBHOOK_URL=https://panel.5-189-165-144.sslip.io/api-patrones/subir-documento
